* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
  margin: 1%;
  letter-spacing: calc(.4rem + 1vw);
}

form {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

input {
  width: 60%;
  font-size: calc(1.5rem + 1vw);
  border-radius: 5px;
}

.saveBtn {
  width: 37%;
  font-size: calc(1.3rem + 1vw);
  border-radius: 5px;
  background-color: aquamarine;
}

hr {
  background-color: black;
  height: calc(1px + 1vw);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: calc(1rem + 1vw);
  margin: 1%;
}

.deleteBtn {
  width: 37%;
  font-size: calc(1.3rem + 1vw);
  border-radius: 5px;
  background-color: rgb(220, 31, 11);
}